.card_lancamento{
    display: flex;
    border-radius: 10px 0 0 10px;
    margin-bottom: 15px;
    overflow: auto;
    width: 85%;
    height: 360px;
    margin-inline: auto;
}

.card_lancamento_desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #004b8d;
    color: white;
}

.card_lancamento_sublanc{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    width: 100%;
}

.card_lancamento_sublanc ol{
    text-align: center;
    padding-left: 30px;
}

.card_lancamento_sublanc ol li::marker{
    font-style: italic;
    font-weight: bold;
    font-size: 0.7em;
}

.card_lancamento_sublanc ol li{
    width: 97%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
}

.card_lancamento_sublanc ol li span{
    padding-inline: 8px
}

.card_lancamento_sublanc #colunas{
    position: relative;
    margin-top: -19px;
}

.list{
    list-style: none;
    padding: 0px;
}

.list li{
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
}

.list li span{
    font-weight: normal;
    font-style: italic;
    font-size: .7em;
}